@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{

    width: 44px;
    padding : 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height:72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 90%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size: cover;
    
}

.bottom{
        position: sticky;
        bottom: 0;
        height: auto;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
    padding: 7px;
}

#myProgressBar{
    width: 90vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 24px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 50px; 
    height: 50px; 
    margin-right: 10px; 
    border-radius: 50%;
}

.timestamp{
    margin-right: 10px;
    
}

.timestamp i{
    cursor: pointer;
}
.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in  
}
.songInfo span {
    margin-top: 8px; 
    font-size: 1.2rem; 
}
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }
    
    .bottom {
        height: auto;
    }

    .icons {
        flex-direction: row;
    }

    #myProgressBar {
        width: 80vw;
    }

    .songItemContainer {
        margin-top: 12px;
    }

    .songItem {
        height: 60px;
        padding: 0 8px;
    }

    .songItem img {
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }

    .timestamp {
        margin-right: 8px;
    }

    .songInfo {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
        left: 5vw; 
    }
    
    
    .songInfo span {
        margin-top: 8px;
        font-size: 1.2rem; 
        margin-left: 8px; 
    }
}
